<md-dialog aria-label="Add Friends">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 style="color: white">Search For Friends To Add</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/ic_close_white.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <h2>Using .md-dialog-content class that sets the padding as the spec</h2>
      <label class="item item-input">
        <span class="input-label"><i class="icon ion-ios-search"></i> Search</span>
        <input type="text" ng-model="userSearch.username" ng-model-options="{ debounce: 500 }">
      </label>
      <md-content>
        <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="friend in allUsers track by $index" ng-click="addFriend(friend)">
            <div class="md-list-item-text" layout="column">
              <h3>{{friend.name}}</h3>
              <h4>@{{friend.username}}</h4>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="answer('not useful')">
     Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
