<md-dialog aria-label="Add Friends" ng-init='showFriends()'>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 style="color: white">Choose a Friend to Watch {{movie.name}} With</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/ic_close_white.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <p class="hidden-text">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
      <md-content>
        <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="friend in friends track by $index" ng-click="inviteFriend(friend)">
            <div class="md-list-item-text" layout="column">
              <h3>{{friend.name}}</h3>
              <h4>{{friend.status}}</h4>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="answer('not useful')">
     Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
