<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Video Streaming</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/ionic.app.min.css" rel="stylesheet">
    <link href="css/angular-material.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD9GNaluXlW_KCS2PYxktQoGA1YYxXc688",
        authDomain: "distributed-systems-proj-fd147.firebaseapp.com",
        databaseURL: "https://distributed-systems-proj-fd147.firebaseio.com",
        storageBucket: "distributed-systems-proj-fd147.appspot.com",
        messagingSenderId: "1038192310818"
      };
      firebase.initializeApp(config);
    </script>

    <!-- your app's js -->
    <script src="js/app.min.js"></script>
    <script src="js/libs.min.js"></script>
  </head>
  <body ng-app="starter" ng-controller="navCtrl" ng-cloak>

    <ion-pane>
      <md-toolbar class="app-header">
      <div class="md-toolbar-tools">
        <h2>
          <span class="title" flex ng-click="ETgoHome()">Synchronized Video Streaming</span>
        </h2>
        <span flex></span>
        <md-button class="md-fab md-mini" aria-label="Profile" ng-click="goToProfile()" on-hold='signOut()'>
          <md-icon md-svg-icon="img/ic_person.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
      <ion-nav-view class='dark'>
      </ion-nav-view>
    </ion-pane>
  </body>
</html>
